body {
    background-color: #f8f9fa;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  .card-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  h6 {
    font-weight: bold;
    margin-top: 10px;
  }
  
  
  