
    <head>
        <script src="https://kit.fontawesome.com/33e60c130d.js" crossorigin="anonymous"></script>
    </head>
    <nav>
        <img src="assets/logo.png" alt="CCK's logo" width="150px">
        <div class="icon">
            <i class="fa-solid fa-chart-simple"></i>
            <a routerLink="/dashboard/pages/reports" routerLinkActive="active">Reports</a>
        </div>
        <div class="icon">
            <i class="fa-solid fa-users-gear"></i>
            <a routerLink="/dashboard/pages/manage-reservations" routerLinkActive="active">Manage reservations</a>
        </div>
        <div class="icon">
            <i class="fa-solid fa-money-bill-trend-up"></i>
            <a routerLink="/dashboard/pages/bills-management" routerLinkActive="active">Bills Management</a>
        </div>
        <div class="icon">
            <i class="fa-solid fa-bookmark"></i>
            <a>Library</a>
        </div>
        <div class="icon">
            <i class="fa-solid fa-people-roof"></i>
            <a>People</a>
        </div>
        <div class="icon">
            <i class="fa-solid fa-clipboard-list"></i>
            <a>Activities</a>
        </div>
        <h3>Support</h3>
        <div class="icon">
            <i class="fa-solid fa-lightbulb"></i>
            <a>Get started</a>
        </div>
        <div class="icon">
            <i class="fa-solid fa-gear"></i>
            <a>Settings</a>
        </div>
    </nav>

