body {
    margin: 0;/* Removes all margins */
    padding: 0;
    
}

nav {
    display: flex;
    flex-direction: column; /* bch thothom taht baathhom */
    width: 20%;
    background-color: white;
    position: fixed;
    left: 0; /* to remove the left space */
    top: 0;/* to remove the top space */
    height: 100vh; /* Full height */
    padding: 10px; /* Optional for spacing */
    color: black;
    opacity: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;/* to make space between icon and its text */
}

.icon a {
    text-decoration: none;
}
.icon:hover {
    color: #1B59F8;
    border-radius: 10px;
    background-color: #E8EEFE;
    width: 193px;
    cursor: pointer;
}
.icon:active {
    color: #1B59F8;
    border-radius: 10px;
    background-color: #E8EEFE;
    width: 193px;
}
.icon:focus {
    color: #1B59F8;
    border-radius: 10px;
    background-color: #E8EEFE;
    width: 193px;
}
